.gradientText {
  color: #fff;
  background: linear-gradient(to right, #ff2e9f 20%, #4e31ff 60%, #9916ff 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.gradientText.active {
  animation: textflow 3s ease-out forwards;
}

@keyframes textflow {
  0% {
    background-position: 200% center;
  }
  45% {
    background-position: -100% center;
  }
  50% {
    background-position: 200% center;
  }
  95% {
    background-position: -100% center;
  }
  100% {
    background-position: -100% center;
    background: none;
    color: #fff;
    -webkit-text-fill-color: #fff;
  }
}